@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap");

.CARD {
  display: grid;
  justify-content: center;
  border: 2px solid black;
  background-color: rgba(131, 64, 189, 74);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
.CARD-NAME {
  display: flex;
  justify-content: center;
  font: 2em "Cardo";
  text-transform: capitalize;
  border: 0.1em solid black;
  width: calc(100% - 30px);
  margin: 15px auto;
  background-color: rgba(166, 81, 240, 94);
}
.CARD-IMG {
  width: 450px;
  height: 500px;
}
.CARD-BUTTONS {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    ". ."
    ". .";
}
/* Boton Bellow */
.CARD-BUTTONS-CHOISE {
  border-top: 1px solid #225a7d;
  background: #1171b0;
  background: -webkit-linear-gradient(top, #683c91, #1171b0);
  background: -moz-linear-gradient(top, #683c91, #1171b0);
  background: -ms-linear-gradient(top, #683c91, #1171b0);
  background: -o-linear-gradient(top, #683c91, #1171b0);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#683c91),
    to(#1171b0)
  );
  padding: 11px 22px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 24px;
  font-family: "Lucida Grande", Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  text-transform: capitalize;
  width: 180px;
  height: 80px;
  margin: 10px;
}
.CARD-BUTTONS-CHOISE:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.CARD-BUTTONS-CHOISE:active {
  border-top-color: #0d0d0d;
  background: #0d0d0d;
}
